.container{
    position: absolute;
    background-color: #f0f0f0f0;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 16px 16px 10px #d7d7d7;
    border-radius: 20px;
}

.face{
    position: relative;
    height: 250px;
    width: 60px;
    background-color: #fce2c4;
    left: 220px;
    top: 100px;
    border: 4px solid #ffa945;
    border-bottom: none;
    transform: rotate(4deg); /*to make the border tourne with 4 degrese*/
}

.face::before{
     content:"";
     position: absolute;
     height: 14px;
     width: 14px;
     background: #fce2c4;
     border-left: 6px solid #ffa945;
     border-bottom: 4px solid #ffa945;
     border-bottom-left-radius: 10px;
     transform: skew(-40deg);
     top:170px;
     left: -12px;
}

.face::after{
    content:"";
    position:absolute;
    height:24px;
    width: 24px;
    background: #fce2c4;
    top: 80px;
    left: 56px;
    border-radius: 50%;
    border: 4px solid #ffa945;
    border-top: none;
    border-left: none;
    transform: rotate(-40deg);
}

.nose{
    position: relative;
    width: 50px;
    height: 50px;
    background: #fce2c4;
    border: 4px solid #ffa945;
    left: 172px;
    bottom: 90px;
    border-right: none;
    border-radius: 14px 0 0 14px;
    transform: rotate(4deg);
    z-index: 1;
}

.nose::after{
    content:"";
    position: absolute;
    height: 10px;
    width: 30px;
    background: #fce2c4;
    border-top: 4px solid #ffa945;
    left: 30px;
    top: -4px;    
}

.eye{
    position:relative ;
    height: 44px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    left: 206px;
    bottom: 188px;
    border: 3px solid #000;
    transform: rotate(4deg);
    z-index: 0;
}

.eye::before{
    content:"";
    position: absolute;
    height: 12px;
    width: 10px;
    background: #000;
    border-radius: 50%;
    left: 14px;
    top: 22px;
    transform: rotate(16deg);
}

.eye::after{
    content:"";
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: #fff;
    left: 18px;
    top: 24px;
    border-radius: 50%;
}

.eye1{
    width: 40px;
    height: 40px;
    bottom: 224px;
    left: 234px;
    z-index: 2;
}

.eye1::before{
    top: 12px;
}

.eye1::after{
    top: 14px;
}

.hair{
    position: relative;
    bottom: 252px;
    left: 10px;
    z-index: 3;
}

.hair>div:nth-child(1){
    position: absolute;
    height: 30px;
    width: 100px;
    border-top: 20px solid #008000;
    left: 180px;
    bottom: 40px;
    border-radius: 50px 40px 0 0;
    transform: rotate(30deg);
}

.hair>div:nth-child(2){
    position: absolute;
    height: 30px;
    width: 100px;
    border-top: 20px solid #008000;
    left: 200px;
    bottom: 40px;
    border-radius: 50px 40px 0 0;
    transform: rotate(70deg);
}

.hair>div:nth-child(3){
    position: absolute;
    height: 30px;
    width: 80px;
    border-top: 20px solid #008000;
    left: 220px;
    bottom: 50px;
    border-radius: 50px 40px 0 0;
    transform: rotate(130deg);
}

.hair>div:nth-child(4){
    position: absolute;
    height: 30px;
    width: 100px;
    border-top: 20px solid #008000;
    left: 200px;
    bottom: 20px;
    border-radius: 50px 40px 0 0;
    transform: rotate(20deg);
}

.hair>div:nth-child(5){
    position: absolute;
    height: 30px;
    width: 50px;
    border-top: 20px solid #008000;
    left: 260px;
    bottom: 20px;
    border-radius: 50px 40px 0 0;
    transform: rotate(20deg);

